<ion-view view-title="Home">
    <ion-content class="home_backgroundcolor">
	<section ng-repeat="home in home" class="student_details">
	{{home.batchname}} {{home.semestername}}
	</section>
        <!-- ion-refresher needs to be direct child of ion-content to work with native scrolling -->
			<img src="img/logo.png" class="course_image">
            <a menu-close  ui-sref="site.mm_courses" title="{{ 'mm.sidemenu.mycourses' | translate}}">  <img src="img/courses-latest.jpg" class="home_image_row">  </a>
			<a menu-close  ui-sref="site.messages" title="{{ 'mm.sidemenu.calender' | translate}}"><img src="img/messages.jpg" class="home_image_row3"> </a>
			<a menu-close  ui-sref="site.calendar" title="{{ 'mm.sidemenu.calender' | translate}}">	<img src="img/calendar-events.jpg" class="home_image_row4"> </a>
            
    
    </ion-content>
</ion-view>
